div.container {
    width: 100%;
    /*border: 1px solid gray;*/
}

div.header {
    padding: 0.5em;
    color: black;
    
    clear: left;
    text-align: left;
}

div.table {
    float: left;
    max-width: 400px;
    height: 800px;
    margin: 0;
    padding: 1em;
}



div.map {
    
    /*border-left: 1px solid gray;*/
    
    overflow: hidden;
    height: 800px;
}

div.slider {
  padding: 1em;
  max-width: 300px;
}

table {
  table-layout:fixed;
  width:100%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    max-width:  80px;
    height: 25px;
    text-align: middle;
    
}

tr {
  border-bottom: 1px solid gray;
}
